<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Álvaro López Álvarez y Beatriz Rodríguez-Ventosa Suárez.
</p>
<p> Está práctica se aloja en: <a href=https://github.com/bearodriguez/quiz_2017/practica53.git> https://github.com/bearodriguez/quiz_2017/practica53.git </a> 
</p>

<img class="imagen" src="/images/bea.jpg"/>
<img class="imagen" src="/images/alvaro.jpg" />

<style>
.imagen{
	 margin: auto;
	 
}

</style>